fastapi==0.110.1
uvicorn[standard]==0.29.0

SQLAlchemy==2.0.30
asyncpg==0.29.0          # Only if using async DB
psycopg2-binary==2.9.9   # Use this for synchronous PostgreSQL

alembic==1.13.1

pydantic==2.7.1
python-dotenv==1.0.1

passlib[bcrypt]==1.7.4   # For password hashing
python-jose==3.3.0       # For JWT tokens



