@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 767px;
  --breakpoint-md: 991px;
  --breakpoint-lg: 1199px;
  --breakpoint-xl: 1399px;
  --breakpoint-2xl: 1799px;
  --breakpoint-3xl: 1999px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 245, 247);
}

* {
  /* outline: 2px solid red; */
}
